<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="HttpMethod" value="GET" />
    <add key="BaseURL" value="http://adm.atrack.com.tw" />
    <add key="AbsolutePath" value="/api/groups" />
    <add key="AppId" value="xxxxxxxxxxxxxxxxxx==" />
    <add key="SecretKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=" />
    <add key="Scheme" value="atrack" />
  </appSettings>
</configuration>